.card-stats {
  color: #fff;
}

.card-category {
  font-size: 1.1rem;
}

.card-warning {
  background-color: rgb(255, 165, 48) !important;
}

.card-blue {
  background-color: rgb(38, 99, 253) !important;
}

.card-danger {
  background-color: rgb(255, 24, 55) !important;
}

.card-green {
  background-color: rgb(0, 155, 0) !important;
}

.card-movie {
  border: none !important;
  border-radius: 20px !important;
  background: rgb(224, 224, 244) !important;
}

.header-custom {
  border-top-left-radius: 20px !important;
  border-bottom: 1px solid rgb(220, 220, 220) !important;
  border-top-right-radius: 20px !important;
  background-color: rgb(225, 225, 225) !important;
}

.movie {
  border-radius: 20px !important;
}
