@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Mulish', sans-serif !important;
}
.bg-grey{
    background:#E5E5E5 !important;
}
.navbar-top{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background: #fff !important;
    width: 100vw !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    height: 70px !important;
    color: #414141 !important;
}
.navbar-top-left{
    display: flex !important;
    align-items: center !important;
}
.navbar-top-left .brand img{
    height: 51px !important;
    width: 130px !important;
}
.navbar-top-left .nav{
    margin-left: 60px !important;
}
.navbar-top-left .nav .link{
    margin-right: 40px !important;
    text-decoration: none !important;
    color: #414141 !important;
}
.navbar-top-right .right{
    margin-right: 40px !important;
    color: #414141 !important;
    text-decoration: none !important;
}
.navbar-top-right .navbar-search img{
    width: 18px !important;
    height: 18px !important;
}
.navbar-top-right .navbar-photo-profile img{
    width: 40px !important;
    height: 40px !important;
    margin-right: -50px !important;
    border-radius: 50% !important;
}
.main{
    margin-left: 40px !important;
    margin-top: 30px !important;
}
.movie-box{
    background: #fff;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.movie-list .movie-card {
    background: #fff;
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    width: max-content;
}
.movie-list .movie-card img{
    width: 15vw;
    height: 260px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.movie-list .movie-card h5{
    font-weight: 600;
    margin-bottom: 0px;
}
.movie-list .movie-card p{
    font-size: 14px;
}
.movie-list .movie-card button{
    background: #5F2EEA;
    margin-bottom: 20px;
    color: #fff;
}
.movie-list .movie-card button:hover{
    background: #fff;
    color: #5F2EEA;
    border: 1px solid #5F2EEA;
}
.movie-list .movie-list .row{
    display: flex;
}
.profile-card {
    width: 20vw !important;
    height: 693px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08) !important;
    border-radius: 6px !important;
}
.card-top{
    display: flex !important;
    justify-content: space-around !important;
    padding-top: 40px !important;
}
.card-top img{
    margin-top: -5px !important;
}
.card-middle{
    margin-top: 25px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-bottom: 1px solid #DEDEDE !important;
}
.card-middle img{
    width: 136px !important;
    height: 136px !important;
    margin-bottom: 32px !important;
    border-radius: 50% !important;
}
.card-middle h5{
    font-weight: 600 !important;
    font-size: 20px !important;
    color: #14142B !important;
    letter-spacing: 0.75px !important;
}
.card-middle p{
    font-size: 14px !important;
    letter-spacing: 0.75px !important;
    color: #4E4B66 !important;
    margin-bottom: 40px !important;
}
.profile-box{
    position: absolute !important;
    height: 771px !important;
    background: #FFFFFF !important;
    border-radius: 6px !important;
    margin-right: 40px !important;
}
.box-top{
    padding: 20px 40px 0px 40px !important;
    border-bottom: 1px solid #DEDEDE !important;
}
.box-top .box{
    font-size: 17px !important;
    color: #AAAAAA !important;
    text-decoration: none !important;
    margin-right: 30px !important;
    background: none !important;
    border: none !important;
}
.profile-box .order{
    display: none !important;
}
.box-top .active{
    color: #14142B !important;
    padding-bottom: 20px !important;
    border-bottom: 2px solid #5F2EEA !important;
}
.profile-box .order{
    width: 71.2vw !important;
}
.profile-box .order .cinema-detail{
    background: #FFFFFF !important;
    border-radius: 8px !important;
    margin: 40px 30px 0px 30px !important;
    font-size: 15px !important;
    border: 0.5px solid #DEDEDE !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    /* width: 381px; */
    height: 250px !important;
    /* box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08) !important; */
}
.title-detail{
    padding-top: 50px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 30px !important;
}
.title-detail p, .title-account p{
    font-size: 16px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid #DEDEDE !important;
}
.title-account{
    padding: 20px 10px !important;
}
.user-detail, .user-account{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.user-detail .col-md-6, .user-account .col-md-6{
    margin-bottom: 20px !important;
}
.user-detail input, .user-account input{
    border: 1px solid #DEDEDE !important;
    border-radius: 4px !important;
    height: 50px !important;
    padding-left: 20px !important;
}
.user-detail input:focus, .user-account input:focus{
    border: 1px solid #DEDEDE !important;
    background: #FCFDFE !important;
}
.user-detail .input-group-text{
    border: none;
}
.input-group .phone-code{
    background: #FCFDFE !important;
}
.update-profile .btn{
    background: #5F2EEA !important;
    border-radius: 4px !important;
    color: #F7F7FC !important;
    width: 30vw !important;
    height: 56px !important;
}
.main{
    margin-bottom: 100px !important;
}
footer{
    background: #FFFFFF !important;
    height: max-content !important;
    width: 100vw !important;
}
footer .footer-info{
    padding-top: 70px !important;
    display: flex !important;
    margin-left: 90px !important;
}
footer .footer-info .first-div{
    margin-right: 40px !important;
}
footer .footer-info .second-div{
    margin-right: -120px !important;
}
footer .footer-info .third-div{
    margin-right: -60px !important;
}
footer .footer-info p{
    margin-top: 17px !important;
    font-size: 16px !important;
    color: #6E7191 !important;
    letter-spacing: 0.75px !important;
}
footer .footer-info h6{
    font-weight: bold !important;
}
footer .footer-info ul{
    margin-left: -32px !important;
    margin-top: 20px !important;
}
footer .footer-info ul li{
    list-style: none !important;
    margin-bottom: 5px !important;
}
footer .footer-info .item .link{
    text-decoration: none !important;
    color:#6E7191 !important;
    letter-spacing: 0.6px !important;
    font-size: 15px !important;
}
footer .third-div img{
    margin-bottom: 10px !important;
}
footer .fourth-div .item{
    margin-bottom: 15px !important;
}
footer .fourth-div .link{
    font-size: 14px !important;
}
footer .fourth-div img{
    width: 22px !important;
    height: 18px !important;
    margin-right: 10px !important;
}
footer .copyright{
    text-align: center !important;
    margin-top: 38px !important;
    padding-bottom: 30px !important;
    color:#6E7191 !important;
}
@media only screen and (max-width: 767px) {
    .navbar-top{
        width: 100% !important;
    }
    .main .profile-card{
        /* margin-left: -10px; */
        /* margin-right: -30px; */
        width: 90% !important;
        margin-bottom: 30px !important;
    }
    .movie-list .movie-card img{
        width: 200px ;
    }
    .movie-box .box-top{
        display: flex;
    }
    .profile-box{
        margin-left: -10px !important;
        /* margin-right: -30px !important; */
        width: 80% !important;
        height: 1000px !important;
    }
    .update-profile .btn{
        width: 100% !important;
    }
    .navbar-top-left .nav{
        display: none !important;
    }
    .main{
        margin-bottom: 1100px !important;
    }
    footer .footer-info{
        margin-left: 20px !important;
    }
    footer ul{
        display: flex !important;
        max-width: 100% !important; 
        flex-wrap: wrap !important;
    }
    footer ul li{
        margin-right: 20px !important;
    }
    footer ul li .link img{
        height: 20px !important;
    }
    .fourth-div .link{
        display: none !important;
    }
    footer .copyright{
        text-align: left !important;
        padding-left: 30px !important;
    }
}
@media only screen and (max-width: 425px) {
    .navbar-top{
        width: 100vw !important;
    }
    .navbar-top-left .brand img{
        width: 86px !important;
        height: 30px !important;
        margin-left: -50px !important;
    }
    .movies{
        margin-bottom: -1000px;
    }
    .movie-box .box-top button{
        margin-left: -20px;
    }
    .main .profile-card{
        margin-left: -30px !important;
        width: 85vw !important;
        margin-bottom: 30px !important;
    }
    .profile-box .box-top{
        display: none !important;
    }
    .profile-box{
        margin-left: -40px !important;
        margin-right: -60px !important;
        width: 85vw !important;
        height: 170vh !important;
    }
    .navbar-top-right{
        display: none !important;
    }
    footer{
        width: 100vw !important;
    }
    footer .first-div p{
        font-size: 15px !important;
    }
}