.bannner{
    max-height: 30% !important;
    overflow-y: hidden;
    width: 100vw !important;
}
.photo-potrait{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    border-radius: 10px !important;
}
.photo-potrait img{
    max-height: 30em !important;
}

.horizontal-list{
    width: 100vw !important;
    max-height: 60% !important;
    overflow-x: auto;
    overflow-y : hidden;
}
.photo-layout{
    width: 10em;
    height: 13em;
    align-items: center;
}
.photo-layout img{
   width: 8em;
   height: 10em;
}

.horizontal-list::-webkit-scrollbar {
    display: none;
  }


